:root{
    --principal-color: #0899A6;
    --second-color: #0069A0;
    --contrast: #f1f1f1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: var(--contrast);
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 220px;
  background-image: linear-gradient(to bottom, var(--principal-color), var(--second-color));
  color: var(--contrast);
  padding: 20px;
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  margin: 20px 0;
}

.sidebar a {
  color: var(--contrast);
  text-decoration: none;
  display: block;
}

.sidebar a:hover {
  text-decoration: underline;
}

.main-content {
  flex-grow: 1;
  padding: 30px;
}

header h1 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.cards {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
  padding: 15px 20px;
  flex: 1;
  min-width: 200px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

/* Barrinha lateral */
.card::before {
  content: '';
  position: absolute;
  left: 5px;
  top: 10px;
  bottom: 10px;
  width: 6px;
  border-radius: 6px;
  background-color: var(--principal-color); 
}

/* Conteúdo interno */
.card h3 {
  font-size: 1rem;
  margin-bottom: 5px;
  color: #333;
}

.card p {
  font-size: 1rem;
  color: #555555de;
}


.barra {
  width: 6px;
  height: 100%;
  background-color: #009DAE; /* cor padrão da barrinha */
  border-radius: 4px;
}

.conteudo-card {
  display: flex;
  flex-direction: column;
}

.card h3 {
  margin-bottom: 10px;
  color: #333;
}

.faturamento {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  max-width: 100%; /* garante que use toda a largura possível */
  margin: 0 auto;
}



