/* Estilo da página de contato */
#contact {
    margin: 20px auto;
    max-width: 900px;
    padding: 20px;
    background-color: var(--contrast);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#contact h2 {
    color: var(--primary-color);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-size: 1.1rem;
    color: #333;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.form-group textarea {
    height: 150px;
    resize: vertical;
}

.btn-submit {
    background-color: var(--primary-color);
    color: var(--contrast);
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: var(--secundary-color);
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    margin: 10px 0;
}

ul li i {
    margin-right: 10px;
}
